/* Author: Chimara Okeke */

/* Formats entire page */
* {
  margin: 0;
  padding: 0;
}

.site-container {
  width: 96%;
  margin: 0 auto; 
  border: 10px solid #5b2d05; 
  padding: 20px;
}


body {
  background-image: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
  margin: 20px;
}

h1 {
  font-size: 40px;
  font-family: 'Lekton', sans-serif;
  text-align: center;
  background-image: linear-gradient(to right, #6d0e67, #ff6347); /* Gradient colors */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  margin-bottom: 20px;
  color:  transparent;
}

h4 {
  font-size: 24px;
  font-family: 'Lekton', sans-serif;
  margin-top: 20px;
  background-image: linear-gradient(to right, #6d0e67, #ff6347); /* Gradient colors */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Set text color to transparent */
}

h4, figcaption {
  font-family: 'Lekton', sans-serif;
  margin-top: 20px;
  background-image: linear-gradient(to right, #6d0e67, #ff6347); /* Gradient colors */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Set text color to transparent */
}


h2 {
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Lekton', sans-serif;
  margin-top: 20px;
  background-image: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Set text color to transparent */
}


h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Lekton', sans-serif;
  margin-top: 20px;
  background-image: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Set text color to transparent */
}



table {
  width: 50%;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: lightyellow;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Georgia, serif;
  color: #000000;
  line-height: 1.5;
  text-align: justify;
}

table,th,td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.photoshop {
  text-align: center; 
}

.photoshop figcaption, .mentions figcaption {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.photoshop figure {
  display: inline-block;
  margin: 0 auto; 
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  vertical-align: top;
  margin-right: 0;
}

video {
  width: 600px;
  height: 400px;
  
}

img, video {
  display: block;
  margin: 0 auto;
}

.contact-form {
  width: 70%;
  margin: auto;
  background-color: lightyellow;
  padding: 20px;
  border: 1px solid #000000;
}

/* Formatting form */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Tried changing the blue color but failed */
input[type="radio"] {
  margin-right: 5px;
  background-color: #b038a8;
}

/* Formatting submit button */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #b038a8;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* When hovering over button */
button[type="submit"]:hover {
  background-color: #3a66b1;
}


.footer-content {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  font-family: 'Lekton', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: radial-gradient(circle at -0.6% 44.4%, rgb(142, 252, 152) 0%, rgb(107, 214, 250) 90%);
  background-repeat: no-repeat;
}

/* Add this to your style.css */
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Adjust the height as needed */
    background-color: #ccc; /* Background color of the progress bar container */
}

.progress-bar {
  width: 0;
  height: 100%;
  background-image:  linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
  transition: width 0.3s; /* Smooth animation effect */
}


/* toggle*/

#modeToggle {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  font-size: 17px; /* Change the font size */
}

/* GOOGLE FONT CODE */
.lekton-regular {
  font-family: "Lekton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", sans-serif;
  font-weight: 400;
  font-style: italic;
}

